@charset "utf-8";
main {

}
nav {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    text-decoration: none;
}
nav a:link  {
    color: #767157;
    text-decoration: none;
}
nav a:hover {
    color: #E9925A;
    text-decoration: overline;
    font-size: 20px;
}
.heroimg {
    height: 250px;
    background-image: url(IMG_7688.PNG);
    background-position: center center;
    background-size: contain;
    background-color: #FBE3E3;
}



header h1 {
    color: #9D5657;
    text-align: center;
    font-size: 60px;
}


footer {
    background-color: #B6F7D0;
    width: 300px;
    height: 20px;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
article h3 {
    background-color: #EC8A8C;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 35px;
    color: #FFFFFF;
    padding-left: 10px;
    line-height: 35px;
}
